.main ul {
    list-style: none;
    padding: 10px;
    margin-bottom: 0;
}

.main li {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0;
}

li::after {
    content: '';
    display: block;
    clear: both;
    overflow: hidden;
}

.avatar-group {
    width: 38px;
    height: 100%;
    float: left;
}

.avatar-group .avatar {
    width: 38px;
    height: 38px;
    /*border-radius: 50%;*/
}

.question-group {
    float: left;
    width: 660px;
    margin-left: 10px;
}

.question-title a {
    color: #259;
    font-weight: 900;
}

.question-info {
    text-align: right;
}

.question-info .question-author {
    margin-right: 10px;
}
